<!DOCTYPE html>
<html>
  <head>
    <title>ShoppingCartApp</title>
    <%= csrf_meta_tags %>
    <% stylesheet link tag 'application', media: 'all','data-turbolinks-track'=>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    
  </head>
  <body>
  <main class='<%= controller.controller_name %>'>
    <%= yield %>
    </main>
  </body>
</html>
